<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box {
            width: 200px;
            height: 200px;
            background-color: red;
        }
    </style>
</head>
<body>

<div id="app">
    <ul v-if="data.status == 'ok'">
        <!--v-for优先级最高-->
        <li v-for='(item,index) in data.users' :key="item.id">
            <h3>{{ item.id }}--{{ item.name }}--{{ item.age }}-----{{ index }}</h3>
        </li>
    </ul>
    <div v-for="(value,key) in person">   <!-- 先是value，后是key -->
        {{ key }}----{{ value }}
    </div>
</div>

<!--引包-->
<script src="vue.js"></script>

<!--使用-->
<script>
    // 数据驱动视图 MVVM Model View View Model
    new Vue({
        el: '#app',
        data() {
            return {
                data: {
                    status: 'ok',
                    users: [
                        {id: 1, name: "Meanwey", age: 24},
                        {id: 2, name: "Jery", age: 25},
                        {id: 3, name: "Cong", age: 24}
                    ]
                },
                person: {
                    name: 'Meanwey'
                }
            }
        },    // 必须return一个对象，可以是一个空对象
        methods: {}
    });
</script>
</body>
</html>